$whatsapp-green: rgba(32, 150, 136, 1);
$main-bg: rgba(219, 219, 212, 1);
$card-header-bg: #eaeaea;
$main-blue: #8edafc;
$user-chat-green: #d5f9ba;
$left-size-card-width: 35%;
$chat-active-width: 65%;
